.chatbox{
  border: 2px solid grey;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  background-color: bisque;
}
.container{
  display: flex;
  padding-bottom: 30px;
}
.container.me{
  flex-direction: row-reverse;
}
.me .chatbox{
  background-color: aquamarine;
}
.btm{
  position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: hsla(180,51.4%,51.6%,1);
}
.btm input{
  padding: 10px;
  flex-grow: 1;
  border: none;
  border-radius: 5px 0 0 5px;
}
.btm button{
  padding: 10px 0;
  border: none;
  width: 120px;
  text-align: center;
  font-size: 16px;
  background-color: yellowgreen;
}
.chat-container{
  padding: 0 15px;
}
.start-box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-box input {
  width: 200px;
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  color: #000;
}